<%- include('partial/head') %> <%- include('partial/navbar') %>
<h1>WElcome to Home page <%= 5 + 2 + 3 %></h1>
<p>
  Lorem <%= 'hello'.toUpperCase() %> ipsum dolor sit amet consectetur,
  adipisicing elit. Pariatur, quos ullam! Nesciunt neque quam ipsa asperiores,
  fuga maiores provident, eaque modi sint, voluptate odio ex quidem? Eos
  obcaecati quis fuga. Similique sapiente libero facilis magnam, sunt minima
  suscipit expedita dicta provident sequi quis fugit laudantium rerum dolores ea
  velit tempora laboriosam possimus aut architecto! Doloremque provident eius
  fugit optio dolorum. Reprehenderit quo cupiditate aut cumque veritatis nobis
  dolorem et blanditiis harum! Cumque saepe esse ab exercitationem aspernatur
  magni accusamus odit veniam! Architecto atque repellat provident rerum
  quibusdam voluptatum sequi dolores? Eum magnam vero doloremque modi cumque
  iste exercitationem! Eaque cupiditate, molestias nisi possimus repellendus,
  porro laborum tempore mollitia quam deleniti, quos quia exercitationem vero
  dignissimos dolorem dolorum harum commodi rem! Suscipit quidem ipsum quasi
  facilis velit voluptatem reprehenderit! Corporis dolores non quos expedita ea
  harum facere vel accusamus maiores sunt, enim laboriosam quibusdam! Quasi
  itaque ea, vitae aliquam libero animi.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aliquam
  quas rem magnam dolores vel velit corporis! Molestiae nostrum nesciunt unde
  veniam, dolorum, voluptates optio beatae, fugiat nam vitae suscipit.
</p>
<%- include('partial/footer') %>
