<%- include('partial/head') %> <%- include('partial/navbar') %>

<h1>your random Number is: <%= num%></h1>
<% if(num % 2 === 0){ %>
<h2>That's a even Number</h2>
<% } else { %>
<h2>ohh its a odd Number</h2>
<% } %>
<h3>That number is: <%= num % 2 === 0 ? 'EVEN' : 'ODD' %></h3>
<%- include('partial/footer') %>
